{% extends 'base.html.twig' %}

{% block body %}
    <div class="container center_style" style="background-color: #5eb5e0">
        <div class="row">
            <div class="col-3"><a href="/add_topic">Add topic</a></div>
            <div class="col-3"><a href="/contacts">Contacts</a></div>
            <div class="col-3"><a href="/">Home</a></div>
            <div class="col-3"><a href="/add">Log in</a></div>

        </div>
        {% for topic in topics %}
            {{ topic.name }}
        {% endfor %}


    </div>

{% endblock %}