{% extends 'base.html.twig' %}

{% block body %}
    <div class="container center_style">
        {% for topic in topics %}
        <div class="row">
            <div class="col-4 list-group" >
                <a href="/topic/{{ topic.id }}" class="list-group-item list-group-item-action">{{ topic.name }}</a>
            </div>

            {% if topic.LastMessage is not empty %}
                <div class="col-4 list-group" >
                    <a class="list-group-item list-group-item-action">{{ topic.LastMessage.text }}</a>
                </div>
                <div class="col-4 list-group">
                    <a class="list-group-item list-group-item-action">{{ topic.LastMessage.date }}</a>
                </div>
            {% else %}
                <div class="col-4 list-group">
                    <a class="list-group-item list-group-item-action">No messages yet</a>
                </div>
                <div class="col-4 list-group">
                    <a class="list-group-item list-group-item-action">No messages yet</a>
                </div>
            {% endif %}


        </div>
        {% endfor %}
    </div>

{% endblock %}