{% extends '_base.html.twig' %}

{% block body %}
<div class="container">
    <a href="{{ path('user_list') }}">User List</a><br>
    <a href="{{ path('add_section') }}">Add Section</a>
</div>
{% endblock %}